<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="exercise1" href="/tabs/exercise1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Exercise 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercise2" href="/tabs/exercise2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Exercise 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercise3" href="/tabs/exercise3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Exercise 3</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercise4" href="/tabs/exercise4">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Exercise 4</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="exercise5" href="/tabs/exercise5">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Exercise 5</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
