<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ejercicio 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col order-md="1" class="content1">
        Contenido de la primera columna.
        <img src="../../assets/img/Uncharted1.jpg">
      </ion-col>

      <ion-col order-md="2" class="content2">
        Contenido de la segunda columna.
        <img src="../../assets/img/BatmanAK.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
