<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ejercicio 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="content1">
        <h2>Design en Detalles del Producto</h2>
      </ion-col>
      <ion-col size="12" size-sm="6" class="content1">
        <img src="../../assets/img/Ionic.jpg">
      </ion-col>
      <ion-col size="6" size-md="12" class="content1">
        - Crea una página de detalles de producto con una imagen, título y descripción. Para esto, utiliza Ionic Grid para organizar los elementos de manera que la imagen ocupe toda la fila en pantallas pequeñas y la descripción ocupe toda la fila en pantallas grandes.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


